OPENWAKEWORD_IMAGE=rhasspy/wyoming-openwakeword
OPENWAKEWORD_CONTAINER_NAME=hexevoice-openwakeword
OPENWAKEWORD_PORT=10400
OPENWAKEWORD_MODEL_DIR=./runtime/openwakeword/models
OPENWAKEWORD_LEGACY_MODEL_DIR=/home/dan/Projects/HomeAssistant/openwakeword/models
