OPENWAKEWORD_IMAGE=rhasspy/wyoming-openwakeword
OPENWAKEWORD_CONTAINER_NAME=hexevoice-openwakeword
OPENWAKEWORD_PORT=10400
OPENWAKEWORD_MODEL_DIR=./runtime/openwakeword/models
OPENWAKEWORD_LEGACY_MODEL_DIR=/home/dan/Projects/HomeAssistant/openwakeword/models
OPENWAKEWORD_DEFAULT_MODEL=Hexe
OPENWAKEWORD_HEALTH_HOST=127.0.0.1
OPENWAKEWORD_HEALTH_PORT=10400
OPENWAKEWORD_HEALTH_TIMEOUT_S=60
OPENWAKEWORD_HEALTH_INTERVAL_S=2
